<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        NovaStore
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<header class="navbar">

    <a
        href="/"
        class="logo">

        Nova<span>Store</span>

    </a>


    <nav>

        <a href="/">
            Home
        </a>

        <a href="/cart">

            🛒 Cart

            <span id="cart-count">
                {{ cart_count }}
            </span>

        </a>

    </nav>

</header>


{% block content %}
{% endblock %}


<footer>

    <p>
        © 2026 NovaStore
    </p>

</footer>


<script src="{{ url_for(
    'static',
    filename='js/app.js'
) }}"></script>

</body>

</html>