{% extends "base.html" %}


{% block title %}
Payment Successful - NovaStore
{% endblock %}


{% block content %}

<section class="result-page">

    <div class="result-card success-card">

        <div class="result-icon">
            ✓
        </div>

        <p class="result-label">
            PAYMENT CONFIRMED
        </p>

        <h1>
            Payment Successful!
        </h1>

        <p>
            Thank you for your purchase.
            Your order has been received.
        </p>

        <a
            href="/"
            class="hero-button">

            Continue Shopping

        </a>

    </div>

</section>

{% endblock %}